MONGO_URL=mongodb://emongo:27017/emart
SPRING_DATASOURCE_URL=jdbc:mysql://emartdb:3306/emart?useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=rootpass
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=emart

